/* Generics */

/* Utils */

/*header*/
.duck {
    height: 60px;
}

.form-control::placeholder {
    color: gray;
}

/* to remove*/
.per-border {
    border: 2px dashed;
}

td .btn-outline-secondary {
    height: 40px;
    width: 40px;
}

#catalog tr:last-child td {
    min-width: 100px;
}