/*header*/
.duck {
    height: 60px;
}

.form-control::placeholder {
    color: gray;
}

/* to remove*/
td .btn-outline-secondary {
    height: 40px;
    width: 40px;
}

/*New Book Pages*/
.text-area textarea {
    resize: none;
}

#catalog tr:last-child td {
    min-width: 100px;
}